<mat-card class="homeCard">
    <form [formGroup]="myProfileModel" autocomplete="off" (submit)="onSubmit()">
        <h1>Your Profile</h1>
        <div class="form-group">
            <label for="exampleRole">Role</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" disabled formControlName="Role"
                disabled> <br>

            <label for="exampleInputEmail">Email Address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" disabled formControlName="Email"
                disabled> <br>

            <label for="exampleFirstName">First Name</label>
            <input type="text" class="form-control" formControlName="FirstName" disabled placeholder="First Name"> <br>


            <label for="exampleLastName">Last Name</label>
            <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name"> <br>


            <label for="exampleLastName">User ID</label>
            <input type="text" class="form-control" formControlName="UserId" disabled disabled placeholder="User ID">
            <br>


            <button type="submit" class="btn btn-primary " [disabled]="!myProfileModel.valid">Update
                Profile</button>
        </div>

    </form>
</mat-card>