<mat-card class="homeCard">
    <form [formGroup]="myProfileModel" autocomplete="off" (submit)="onSubmit()">
        <h1>Your Profile</h1>
        <div class="form-group">
            <label for="exampleRole">Role</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" disabled formControlName="Role"
                disabled> <br>

            <label for="exampleInputEmail">Email Address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" disabled formControlName="Email"
                disabled> <br>

            <label for="exampleFirstName">First Name</label>
            <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name"> <br>


            <label for="exampleLastName">Last Name</label>
            <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name"> <br>


            <label for="exampleUserId">User ID</label>
            <input type="text" class="form-control" formControlName="UserId" disabled placeholder="User ID">
            <br>

            <label for="exampleLastName">Birth Date</label>
            <input type="text" class="form-control" formControlName="bdate" disabled placeholder="Birth Date">

            <br>
            <label for="examplePhone">Phone</label>
            <input type="text" class="form-control" formControlName="phone" disabled placeholder="Phone Number">

            <br>
            <label for="exampleHome">Current Home</label>
            <input type="text" class="form-control" formControlName="currentHome" disabled placeholder="Current Home">

            <button type="submit" class="btn btn-primary " disabled>Update
                Profile</button>
        </div>

    </form>
</mat-card>