mat-toolbar{
    background-color: pink;
}
*{
    color: black;
}

.marginCard{
    margin-top: 10px;
}

.kitchenBox {
    margin:10px;
}
.cuttingBox {
    margin:10px;
}
.weeklyBox {
    margin:10px;
}
.userListBox {
    margin:10px;
}

.userListStyle {
    width: 100%;
    margin-top: 10px;
}