<div class="grid main-content">
    <div class="">
        <div class="row">
            <div class="col">
                <mat-card class="homeCard">
                    {{myDate | date:'MMMM d, y'}}
                </mat-card>
                <mat-card class="homeCard my-2">
                    {{myDate | date:'EEEE'}}
                </mat-card>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col kitchenBox">
                <mat-card class="homeCard">
                    <mat-card-subtitle>Daily</mat-card-subtitle>
                    <mat-card-title>Kitchen</mat-card-title>
                    <mat-card-content>
                        {{userKitchen}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="btn btn-primary" *ngIf="isAdmin" (click)="kitchenDone()">DONE</button>
                    </mat-card-actions>
                </mat-card>


            </div>
            <div class="cuttingBox  col">

                <mat-card class="homeCard">
                    <mat-card-subtitle>Daily</mat-card-subtitle>
                    <mat-card-title>Cutting</mat-card-title>
                    <mat-card-content>
                        {{userCutting}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary" *ngIf="isAdmin" (click)="cuttingDone()"> DONE </button>
                    </mat-card-actions>
                </mat-card>

            </div>
            <div class="weeklyBox  col" hidden>
                <h2>
                    Weekly
                </h2>
                <h3>
                    {{userKitchen}}
                </h3>
                <button class="btn btn-primary" *ngIf="isAdmin"> DONE </button>
            </div>

        </div>
        <div class=" row">


            <div class="col userListBox">
                <mat-card class="homeCard">
                    <mat-card-title>Kitchen</mat-card-title>
                    <mat-card-content>
                        <div>
                            <ul *ngFor="let u of users">
                                <li>
                                    <p>
                                        {{u.firstName}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="col userListBox">

                <mat-card class="homeCard">
                    <mat-card-title>Cutting</mat-card-title>
                    <mat-card-content>
                        <div>
                            <ul *ngFor="let u of usersCutting">
                                <li>
                                    <p>
                                        {{u.name}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>