<div class="grid main-content">
    <div class="row">
        <div class="col">
            <mat-card class="homeCard my-2" style="cursor: pointer;" (click)="goToProfile()">
                <h2>
                    Welcome {{user.firstname}}
                </h2>

            </mat-card>
            <mat-card class="homeCard">
                <h4>
                    {{myDate | date:'MMMM d, y'}}
                    {{myDate | date:'EEEE'}}

                </h4>
            </mat-card>
            <mat-card class="homeCard my-2" *ngIf="home" (click)="goToHome()"
                style="display: flex;flex-direction: row;align-self: center; cursor: pointer;">

                <mat-icon>home</mat-icon>
                <h3 class="mx-2">
                    {{home}}
                </h3>
            </mat-card>
        </div>
    </div>
    <div *ngIf=" home">
        <div class="row">
            <div class="col kitchenBox">
                <mat-card class="homeCard">
                    <mat-card-subtitle>Daily</mat-card-subtitle>
                    <mat-card-title>Kitchen</mat-card-title>
                    <mat-card-content>
                        {{userKitchen}}
                    </mat-card-content>

                    <mat-card-content *ngIf="isAdmin">
                        <mat-form-field appearance="fill">
                            <mat-label>Swap: </mat-label> <br>
                            <select matNativeControl [(ngModel)]="selectedOptionSwapKitchen" disabled>
                                <option [value]="u.firstName" *ngFor="let u of users">{{u.firstName}}
                                </option>
                            </select>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>With: </mat-label> <br>
                            <select matNativeControl #kitchenWithSwap [(ngModel)]="selectedOptionWithKitchen">
                                <option [value]="u.firstName" *ngFor="let u of users">{{u.firstName}}
                                </option>
                            </select>
                        </mat-form-field>
                        <mat-card-actions>
                            <button mat-button class="btn btn-primary m-2" (click)="kitchenDone()">DONE</button><br>
                            <button mat-button class="btn btn-primary m-2" (click)="kitchenSwap()"
                                [disabled]="selectedOptionWithKitchen==null">SWAP</button>
                        </mat-card-actions>


                    </mat-card-content>

                    <div class="col">
                        <mat-card class="homeCard">
                            <mat-card-title>Kitchen</mat-card-title>
                            <mat-card-content>
                                <mat-list role="list" *ngFor="let u of users;let i=index;">
                                    <div class="userListStyle">
                                        <mat-list-item class="userListStyle" role="listitem" style="cursor: pointer;"
                                            (click)="getDay(i)">
                                            {{u.firstName}}
                                        </mat-list-item>

                                    </div>
                                </mat-list>

                            </mat-card-content>
                            <div style="display: flex;flex-direction: row;align-self: center;">
                                <mat-icon style="font-size: 1.2rem;">
                                    info
                                </mat-icon>
                                <h5>
                                    Note: Click on your name to see your day.
                                </h5>
                            </div>

                        </mat-card>

                    </div>

                </mat-card>


            </div>
            <div class="cuttingBox  col" *ngIf="false">

                <mat-card class="homeCard">
                    <mat-card-subtitle>Daily</mat-card-subtitle>
                    <mat-card-title>Cutting</mat-card-title>
                    <mat-card-content>
                        {{userCutting}}
                    </mat-card-content>

                    <!-- <mat-card-actions>
                        <button mat-button class="btn btn-primary" *ngIf="isAdmin" (click)="cuttingDone()"> DONE
                        </button>
                        <button mat-button class="btn btn-primary mx-2" *ngIf="isAdmin"
                            (click)="cuttingSwap()">SWAP</button>
                    </mat-card-actions> -->
                    <mat-card-content *ngIf="isAdmin">
                        <mat-form-field appearance="fill">
                            <mat-label>Swap: </mat-label> <br>
                            <select matNativeControl [(ngModel)]="selectedOptionSwapCutting" disabled>
                                <option [value]="u.name" *ngFor="let u of usersCutting">{{u.name}}</option>
                            </select>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>With: </mat-label> <br>
                            <select matNativeControl [(ngModel)]="selectedOptionWithCutting">
                                <option [value]="u.name" *ngFor="let u of usersCutting">{{u.name}}</option>
                            </select>
                        </mat-form-field>
                        <mat-card-actions>
                            <button mat-button class="btn btn-primary m-2" (click)="cuttingDone()">DONE</button> <br>
                            <button mat-button class="btn btn-primary m-2" (click)="cuttingSwap()"
                                [disabled]="selectedOptionWithCutting==null">SWAP</button>
                        </mat-card-actions>
                    </mat-card-content>
                    <div>

                        <mat-card class="homeCard">
                            <mat-card-title>Cutting</mat-card-title>
                            <mat-card-content>
                                <mat-list role="list" *ngFor="let u of usersCutting">
                                    <div class="userListStyle">
                                        <mat-list-item role="listitem">{{u.name}}</mat-list-item>
                                    </div>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card>

            </div>

            <div class="weeklyBox  col">

                <mat-card class="homeCard">
                    <mat-card-subtitle>Weekly</mat-card-subtitle>
                    <mat-card-title>
                        {{nextDay(0) | date: 'MM/dd EEEE'}}
                    </mat-card-title>
                    <!-- <mat-card-title>
                        {{userWeekly}}
                    </mat-card-title> -->

                    <!-- <mat-card-actions>
                        <button mat-button class="btn btn-primary" *ngIf="isAdmin" (click)="cuttingDone()"> DONE
                        </button>
                        <button mat-button class="btn btn-primary mx-2" *ngIf="isAdmin"
                            (click)="cuttingSwap()">SWAP</button>
                    </mat-card-actions> -->
                    <mat-card-content *ngIf="isAdmin">
                        <mat-form-field appearance="fill">
                            <mat-label>Swap: </mat-label> <br>
                            <select matNativeControl [(ngModel)]="selectedOptionSwapWeekly" disabled>
                                <option [value]="u.firstName" *ngFor="let u of wList">{{u.firstName}}
                                </option>
                            </select>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>With: </mat-label> <br>
                            <select matNativeControl [(ngModel)]="selectedOptionWithWeekly">
                                <option [value]="u.firstName" *ngFor="let u of wList">{{u.firstName}}
                                </option>
                            </select>
                        </mat-form-field>
                        <mat-card-actions>
                            <button mat-button class="btn btn-primary m-2" (click)="weeklyDone()">DONE</button> <br>
                            <button mat-button class="btn btn-primary m-2" (click)="weeklySwap()"
                                [disabled]="selectedOptionWithWeekly==null">SWAP</button>
                        </mat-card-actions>
                    </mat-card-content>
                    <div>

                        <mat-card class="homeCard">
                            <mat-card-title>Tasks</mat-card-title>
                            <mat-card-content>
                                <mat-list role="list" *ngFor="let u of wList">
                                    <div class="userListStyle">
                                        <mat-list-item role="listitem"> {{u.firstName}} -
                                            {{u.task_Description}}
                                        </mat-list-item>
                                    </div>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card>

            </div>
        </div>
    </div>
</div>