<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">

    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<p>
    Home
</p>