mat-toolbar{
    background-color: pink;
}
*{
    color: black;
}
.kitchenBox {
    border: 1px solid black;
    padding: 20px;
    margin:10px;
}
.cuttingBox {
    padding: 20px;
    border: 1px solid black;
    margin:10px;
}
.weeklyBox {
    padding: 20px;
    border: 1px solid black;
    margin:10px;
}
.userListBox {
    padding: 10px;
    border: 1px solid black;
    margin:10px;
}