<mat-card class="homeCard">
    <mat-card-title>Select Home</mat-card-title>
    <mat-card-content>
        <div>
            <form [formGroup]="selectHomeForm">
                <mat-form-field appearance="fill">
                    <mat-label>Home: </mat-label> <br>
                    <select matNativeControl formControlName="selectHome" [(ngModel)]="selectedHome"
                        (change)="homeChanged($event)">
                        <option [value]="h.home_id" *ngFor="let h of homes">{{h.home_Name}}</option>
                    </select>
                </mat-form-field><br>
                <button mat-button color="primary" type="button" (click)="addHomeToUser()" *ngIf="!home"
                    [disabled]="selectedHome == null">Submit</button>
                <button mat-button type="button" color="primary" *ngIf="home" [disabled]="!selectedHome"
                    (click)="updateHome()">Update</button>

            </form>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="my-2 homeCard">
    <mat-card-content>
        <div>
            <h2>
                Current Home : {{currentHome}}
            </h2>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="my-2 homeCard" *ngIf="isAdmin">
    <mat-card-title>Add a Home</mat-card-title>
    <mat-card-content>
        <div>
            <form class="example-form" [formGroup]="adminForm" (submit)="addHome()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address:</mat-label>
                    <input type="text" matInput [formControl]="address" placeholder="12 Main Street">
                </mat-form-field> <br>
                <button mat-button type="submit" color="primary" [disabled]="adminForm.invalid">Add</button>

            </form>
        </div>
    </mat-card-content>
</mat-card>