
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-radius: 10px;
    background: cadetblue;
    color: white;
    padding: 16px;
    text-align: center;
}

.content{
    // height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    border-radius: 10px;
    background-color: blanchedalmond;
    margin-top: 10px;

    mat-icon{
        margin-right: 8px;
    }
}
.sidenav-menu-icon {
    cursor: pointer;
}