<mat-toolbar class="toolBar">
    <!-- <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button> -->
    <mat-icon class="sidenav-menu-icon" (click)="opened=!opened">
        menu
    </mat-icon>
    <h3 class="px-2">
        Home Tasks
    </h3>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" #sidenav="matSidenav">
        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span (click)="onLogout()">Logout</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <home-component [isAdmin]="isAdmin"></home-component>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>