
mat-sidenav {
    width: 200px;
    background:#7d808f;
    color: white;
    text-align: center;
}
.toolBarCss{
    color: #141725;    
    display: flex;
}
.toolBar{

    // background:#141725;
    color: #141725;
    height: 50px;
}

.content{
    font-size: 2rem;
    color: lightgray;
    margin:10px;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}

.version-button {
    width: 100%;
    display: flex;
    margin-left: 10px;
    font-size: 0.75rem;
    border:none;
    background-color: transparent;
    color:black;
    margin-top: 10px;

    mat-icon{
        margin-right: 8px;
    }
}

.menu-button{
    width: 100%;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    border:none;
    background-color: transparent;
    color:black;
    margin-top: 10px;

    mat-icon{
        margin-right: 8px;
    }
}
.sidenav-menu-icon {
    cursor: pointer;
}