:host {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    position: absolute;
    padding: 10px;
    top: 5em;
    left: 20em;
    height: 50em;
    width: 20em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
}