.my-custom-snackbar {
    height: 40px;
    width: 100px;
    background-color: grey;
    // position: absolute;
    // top: 500px;
    // left:auto;
    // right: auto;
    justify-content: center !important;
  }