<mat-card class="homeCard">
    <form [formGroup]="changePasswordFormGroup" autocomplete="off" (submit)="onSubmit()">
        <h1>Change Password</h1>
        <div class="form-group">

            <label for="currentPassword">Current Password</label>
            <input type="text" class="form-control" formControlName="currentPassword" placeholder="Current Password">
            <br>


            <label for="newPassword">New Password</label>
            <input type="text" class="form-control" formControlName="newPassword" placeholder="New Password">
            <br>

            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="text" class="form-control" formControlName="confirmNewPassword"
                placeholder="Confirm New Password">
            <br>
            <button type="submit" class="btn btn-primary " disabled>Change Password</button>
        </div>

    </form>
</mat-card>