<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <mat-card class="homeCard">
        <div>
            <form [formGroup]="registerForm" class="text-center " (submit)=" doRegsiter($event)">

                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" formControlName="firstName" id="defaultRegisterFormFirstName"
                        class="form-control" placeholder="First name">
                    <div *ngIf="!firstName.valid && firstName.touched" class="input-error">
                        <p>
                            Please enter your legal First Name
                        </p>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="text" formControlName="lastName" id="defaultRegisterFormLastName" class="form-control"
                        placeholder="Last name">
                    <div *ngIf="!lastName.valid && lastName.touched" class="input-error">
                        <p>
                            Please enter your legal Last Name
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4"
                        placeholder="E-mail">
                    <div *ngIf="!email.valid && email.touched" class="input-error">
                        <p>
                            Please enter your Email
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" autocomplete="new-password" formControlName="password"
                        id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password">
                    <div *ngIf="!password.valid && password.touched" class="input-error">
                        <p>
                            Please enter your Password
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" id="defaultRegisterFormConfirmPassword"
                        class="form-control mb-4" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="text" formControlName="phoneNumber" id="defaultRegisterFormPhone"
                        class="form-control mb-4" placeholder="Phone" maxlength="10">
                    <div *ngIf="!phoneNumber.valid && phoneNumber.touched" class="input-error">
                        <p>
                            Please enter your Phone Number
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Birth Date</label>
                    <input type="date" formControlName="birthdate" id="defaultRegisterFormBdate"
                        class="form-control mb-4" placeholder="Birth Date" min="1985-01-01" [max]="getToday()">
                    <div *ngIf="!birthdate.valid && birthdate.touched" class="input-error">
                        <p>
                            Please enter your Birth Date
                        </p>
                    </div>
                </div>


                <div class="col">
                    <button class="btn btn-primary" [disabled]="registerForm.invalid" type="submit">Register</button>
                    <button type="button" class="btn btn-secondary" (click)="onLogin()">Login</button>
                </div>
            </form>
        </div>
    </mat-card>


</body>

</html>